.loader {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes ldio-h42jzi90j67 {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-h42jzi90j67 div { box-sizing: border-box!important }
.ldio-h42jzi90j67 > div {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 40px;
  left: 40px;
  border-radius: 50%;
  border: 4px solid #000;
  border-color: #ffffff transparent #ffffff transparent;
  animation: ldio-h42jzi90j67 1.408450704225352s linear infinite;
}

.ldio-h42jzi90j67 > div:nth-child(2), .ldio-h42jzi90j67 > div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: ldio-h42jzi90j67 1.408450704225352s linear infinite reverse;
}
.ldio-h42jzi90j67 > div:nth-child(2) {
  border-color: transparent #5699d2 transparent #5699d2
}
.ldio-h42jzi90j67 > div:nth-child(3) { border-color: transparent }
.ldio-h42jzi90j67 > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-h42jzi90j67 > div:nth-child(3) div:before, .ldio-h42jzi90j67 > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: -4px;
  left: 54px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 116px 0 0 #ffffff;
}
.ldio-h42jzi90j67 > div:nth-child(3) div:after {
  left: -4px;
  top: 54px;
  box-shadow: 116px 0 0 0 #ffffff;
}

.ldio-h42jzi90j67 > div:nth-child(4) { border-color: transparent; }
.ldio-h42jzi90j67 > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-h42jzi90j67 > div:nth-child(4) div:before, .ldio-h42jzi90j67 > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: -4px;
  left: 48px;
  background: #5699d2;
  border-radius: 50%;
  box-shadow: 0 104px 0 0 #5699d2;
}
.ldio-h42jzi90j67 > div:nth-child(4) div:after {
  left: -4px;
  top: 48px;
  box-shadow: 104px 0 0 0 #5699d2;
}
.loadingio-spinner-double-ring-ay48tx3lp4n {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-h42jzi90j67 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-h42jzi90j67 div { box-sizing: content-box; }