.random-block-wrapper {
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid #000;
    background-color: #000;
}

.random-block-info {
    width: 60%;
    padding-left: 20px;
}

.random-block-info-text {
    margin-left: 10px;
}