* {
    color: #fff;
}

html {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('./sw-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: #000 0px 0px 8px;
    /* letter-spacing: 0.5px !important; */
}

li {
    list-style: none;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

button, 
button:active, 
button:focus {
    outline: none;
}

dl, ol, ul {
    margin-bottom: 0;
}

ol, ul {
    padding-left: 0;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.block {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    padding: 20px;
}