html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('./sw-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}