.block {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.column {
    width: 48%;
}