.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #000;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    padding: 0 20px;
    font-weight: bold;
} 

.header-list {
    display: flex;
}

.header-item {
    margin-right: 20px;
}

.header-item:last-child {
    margin-right: unset;   
}

.header-button {
    color: #fff;
    text-shadow: #000 0px 0px 8px;
    font-size: 20px;
    font-weight: bold;
}