.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #fff;  
    transition: color .2s ease;
}

.header__title-link:hover .title {
    color: rgb(182, 199, 255);
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 20px;
}

.header-item:last-child {
    margin-right: unset;   
}

.header-link__text {
    color: #fff;
    font-size: 20px;
    transition: color .2s ease;
}

.header-link:hover .header-link__text {
    color: rgb(182, 199, 255);
}

.button-service {
    padding: 5px 20px;
    background-color: rgb(95, 95, 95);
    border-radius: 10px;
    transition: background-color .2s ease;
    padding: 3px 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: #000 0px 0px 8px;
    font-size: 18px;
}

.button-service:hover {
    background-color: rgb(131, 131, 131);
}