.item-list-collection {
    width: 100%;
}

.item-list-item {
    margin-bottom: 5px;
}

.item-list-item:last-child {
    margin-bottom: unset;
}

.item-list-button {
    width: 100%;
    border: 1px solid rgb(29, 29, 29);
    border-radius: 7px;
    background-color: rgb(58, 58, 58);
    transition: background-color .2s ease;
    padding: 3px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: #000 0px 0px 8px;
    font-size: 16px;
}

.item-list-button:hover {
    background-color: rgb(87, 87, 87);
}